@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
} 
.loader 
{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.6);
  animation: loader 0.02s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 10000;
  
}

.loaderItem
{
  margin: 200px auto;
  height: 10px;
  width: 300px;
  animation: jump 1.5s;
  animation-iteration-count: 5;
}

@keyframes jump 
{
  0% 
  {
    transform: translateY(0);
  }
  25% 
  {
    transform: translateY(20px);
  }
  75% 
  {
    transform: translateY(-20px);
  }
  100% 
  {
    transform: translateY(0);
  }
}


















